In [3]:
a=10
b=20
print(type(a+b))
print(a+b)

<class 'int'>
30

In [10]:
a="10 "
b= "ragul"
print(a+b)

10 ragul

In [11]:
rgaul_king = "gopal" 
print(rgaul_king)

gopal

In [12]:
n2mane = "ddd"
print(n2mane)

ddd

In [16]:
a=5
b=2
print("add the value ,a*b")

add the value ,a*b

In [12]:
print("formated string")

formated string

In [4]:
a=10
b=13
print(f"add is :{a+b} , sub is:{a-b} thise is f string")

add is :23 , sub is:-3 thise is f string

In [14]:
 driver ="bala"
pickup="neelangarai"
drop ="tambaram"
fare =406
status ="completed"
print(f"driver is {driver} and he picked from {pickup} and droped at {drop} and n charged {fare} , ride status: {status}")

driver is bala and he picked from neelangarai and droped at tambaram and n charged 406 , ride status: completed

In [25]:
driver = 1+2+4+6+7+3\
         +3+1+0+1+2\
         +2+3+4

print(driver)

39

In [28]:
a=10
print(type(a))
b =float(a)
print(type(b))
print(b)

<class 'int'>
<class 'float'>
10.0

In [6]:
n =int(input())
for i in range(0,i):
    print(i)

 2

NameError: name 'i' is not defined